body {
  height: 100%;
  margin: 0;
  background-color: #ffba08;
}


.logo {
  height: 100px;
  width: 100px;
  position: relative;
  top: 25px;
  left: 20px;
  animation: rotateLogo 5s linear infinite;
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Head {
  font-family: "Press Start 2P", system-ui;
  font-size: 3rem;
  color: #6a040f;
  text-align: center;
}

